.score-board {
    margin: 5vw;
    padding: 5px 7px;
    border: 2px solid rgb(88, 96, 104, .6);
    border-radius: 10px;
    color: rgb(205, 135, 30);
    font-size: 21px;
    font-weight: 540;
    box-shadow: 1px 2px 4px rgb(172, 171, 171, .5);
}